*.ropeproject/*
*.pyc
*-checkpoint.ipynb
*.DS_Store
*.h5
*.log
*.npz
*.avi
*.mp4
*.sh.e*
*.sh.o*
rllab/MUJOCO_LOG.TXT
rllab/vendor/mujoco
*.project
*.pydevproject
*.pdf
*.env
rllab/rllab/config_personal.py
*.swp
rllab/sandbox
*__pycache__*
sac/vendor/*
*.TXT
*.pkl
