<launch>
  <arg name="project_ws" value="$(env PROJECT_WS_PATH)"/>
  <arg name="log_dir" default="$(arg project_ws)/../data" />

    <include file="$(find aqua_gazebo)/launch/aqua.launch"></include>
    <include file="$(find robot_learning)/launch/basic.launch"></include>

    <node
      name="random_agent"
      pkg="aqua_diayn"
      type="random_agent.py"
      args="--log_dir=$(arg log_dir)"
      output="screen">
    </node>

</launch>
