<launch>
  <arg name="project_path" value="$(env PROJECT_PATH)"/>
  <arg name="log_dir" default="$(arg project_path)/data" />

    <include file="$(find aqua_gazebo)/launch/aqua.launch"></include>
    <include file="$(find aqua_diayn)/launch/basic.launch"></include>

    <node
      name="diayn_agent"
      pkg="aqua_diayn"
      type="diayn_agent.py"
      args="--log_dir=$(arg log_dir)"
      output="screen">
    </node>

</launch>
